html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

#header {
  width: 100%;
  height: 100px;
  background-color: #001d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
#headCorona {
  width: 50px;
  margin: 0px 50px;
}

#aliveCorona {
  width: 150px;
  height: 150px;
  transition: all 0.2s;
}

.menuButtons {
  color: #ffb703;
  margin: 0px 40px;
  z-index:2;
}


@media (max-width:400px) {
 #header {font-size:20px;}


#headCorona {
  margin: 0px 20px;
}

.menuButtons {
  margin: 0px 20px;
}

}

body {
  background-color: #003566;
  overflow-x:hidden;
}

#container {
  height: 1000px;
  width:100%;
  position:absolute;
  

}


.menuContain
{
  margin-top:50px;
}


.center {
  display: flex;
  width: 100%;
  justify-content: center;

}

button {
  background-color: #003566;
  border: none;
  cursor: pointer;
}



.progress-circle {
  transform: rotate(-90deg);
  margin-top: -40px;
  margin-bottom: 20px;
}

.progress-circle-back {
  fill: none;
  stroke: rgb(241, 225, 4);
  stroke-width: 10px;
  stroke-dasharray: 999 999;
  stroke-dashoffset: 0px;
  transition: stroke-dasharray 0.7s linear 0s;
}

.progress-circle-mid {
  fill: none;
  stroke: rgb(151, 1, 1);
  stroke-width: 10px;
  stroke-dasharray: 999 999;
  stroke-dashoffset: 0px;
  transition: stroke-dasharray 0.7s linear 0s;
}

.progress-circle-prog {
  fill: none;
  stroke: rgb(44, 175, 11);
  stroke-width: 10px;
  stroke-dasharray: 999 999;
  stroke-dashoffset: 0px;
  transition: stroke-dasharray 0.7s linear 0s;
}

.textStats{
  width: 100%;
  top: 200px;
  text-align: center;
  font-size: 2em;
}

#pieChart {

  margin:50px auto;
}

#pieContain {
  background-color:rgb(137, 185, 223);
  width:20%;
  margin:0px auto;
  border-radius:5px;

}

#pieNumbers
{
  margin-top:-50px;
}

#graphsContain {
  background-color:red;
  width:20%;
  height:250px;
  margin: 0px auto;
  border-radius:5px;

}

#newsContain {
  background-color:green;
  width:20%;
  height:250px;
  margin: 0px auto;
  border-radius:5px;
}

#statCarousel {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:300%;
  margin: 20px auto;
  position:relative;
  transition:all 0.5s;
}

#statsCenter {
  display:flex;
  justify-content:space-evenly;
  margin:10px 0px;
}

.verticalCenter {
  display:flex;
  flex-direction:column;
  align-items:center;
}

  #countrySelect {
  margin:10px 0px;
  border-radius:3px;
  border:2px solid #001d3d;
}